<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <!--
        shortcut icon可以被大多数浏览器识别为icon，IE则识别shorcut icon，直接写shortcut icon可以提高兼容性
        只有当希望为新浏览器提供另一种备用图像（例如动画GIF）时，才有必要添加第二行。
        <link rel="icon" href="/static/favicon.ico" />
        -->
        <!-- 关于favicon.ico更新后浏览器页面没变化的解决方法 Ctrl+F5强制刷新 -->
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <title>Web Station</title>
    </head>
    <body>
        <h1>helelo</h1>
        <p>context</p>
    </body>
</html>